html,body{


	margin: 0;
	display:flex;
	justify-content:center;
	align-items:center;	




}

.formCad{


	width:30vw;
	height:70vh;
	border:1px solid #000000;
	display:flex;
	justify-content:center;

	align-items:center;

}

.inps{


	margin-left: 2vw;


}

.ltex{

	margin-left: 2vw;
}

.but{

	margin-left: 20px;
	border-radius:30px 30px;
	background-color:#0000ee;
	color:#000;
}
