html,body{
	margin:0;
	
}

.nav{
			
	background-color:#000;
	width:100%;
	height:10vh;
	top:0;
	padding-right:0;
	padding-top:5vh;
	border-bottom:0.3vmax solid #00f;
}

.item{
	
	display:inline-block;
	margin-top:3vmin;
	
}	
.link-item{
	
	color:#fff;
	text-decoration:none;
	
}
.topo{
	
	width:100%;
	height:50vmin;
}

.footer{
	
	bottom:0;
	background-color:#000;
	width:100%;
	height:30vh;
	padding-right:0;
	display:flex;
	justify-content:left;
	align-items:center;
	
}
.ti-footer{
	
	color:#fff;
}
.div1{
	
	display:inline-block;
	margin-bottom:6vh;
	
}

.div2{
	
	display:inline-block;
	margin-bottom:6vh;
	
}

.div3{
	
	display:inline-block;
	margin:10vmin;
		
}
.i-footer{
	color:#fff;
	
}
.a-footer{
	color:#fff;
	text-decoration:none;
}
.img-meio{
	
		width:100%;
		height:100vh;
}