body,html{
	
	margin:0;
}
.dForm{

	height:50vh;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
}
.nav {
	background-color: #000000;
	position:relative;
	width:100%;
	top:0;
	border-top:10px solid #000;
	color:#fff;
}
.item{
	display:inline-block;
	margin-bottom:0.5vw;
	margin:0.7vw;
	

}

.item-link{
	
	margin:0.2vw;
	text-decoration:none;
	color:#fff;
}

.text-label{
	
	margin:1vw;

}
.inp{
	
	margin-bottom:0.7vmin;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:0.1vmax solid #00f;
}
.foorm{
	
	width:70vmin;
	height:40vmin;
	border:2px solid #000;
	display:relative;
	padding:10vmin;
}
#nome{
	
	width:30vw;

}
#ema{

	width:30vw;



}

.but-cad{

	margin-bottom:0.7vmin;
	margin-top:1vmin;
	border:0.1vw solid #0010aa;
	border-radius:1vw 1vw;

}
h1{



	font-size:5vh;


}
label{



	font-size:3vh;

}
