html,body{

	margin:0;
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%;

}
	

.a{

	
	width:50vw ;
	box-shadow:0.7vmin 0.7vmin 0.7vmin 0.7vmin #000;
	display:flex;
	align-items:center;
	justify-content:center;
	




}

.lab{


	align-text:left;


}


.inp{



	border:1px solid #00a;


}
