html,body{
	margin:0;	
}
.nav{
	top:0;
	width:100%;
	height:7vmax;
	background-color:#000;
	color:#fff;
	position:relative;
	border-bottom:0.5vmin solid #00f; 
	
}
.sets{
		
		width:50vmin;
		height:60vmin;
		border:2px solid #000;
		box-shadow:1vmax 1vmax 1vmax 1vmax #000;
}
.set{
	
		display:flex;
		align-items:center;
		justify-content:center;
}
.items{
	margin:0;
}
.item{
	display:inline-block;
	margin-top:5.5vmax;
	font-size:2.5vmin;

}
.link-item{
	text-decoration:none;
	color:#fff;
}
.footer{	
	bottom:0;
	width:100%;
	height:150px;
	position:absolute;
	background-color:#ffff00;
}

.item-footer{
	display:block;
}

.div-footer1{
	display:inline-block;
}

.div-footer2{
	display:inline-block;
}

.link-footer{
	text-decoration:none;
	color:#00a;
}
#helio{
	font-size:30px;		
}

.icones{
	
	width:2vmax;
	height:2vmax;
	color:#fff;
}
.linkUser{
	
	text-decoration:none;
}
#logout{
	margin-left:90vmin;
}
